body{
   
    margin: 0px;
    padding: 0px;
}


.topo{
    
    width: auto;
    height: 55px;
    max-width: 110%;
    background-color: #CA8A90;
    opacity: 63%;
    margin: -9px;
    margin-top: -20px;
    padding: auto;

}


.tel{

    padding: 20px;
    color: white;
}




#logo{
    max-width: 100%;
    margin-top: 30px;
    width: 450px;
    height: 200px;
    display: flex;
    margin-left: 100px;
   
}

.busca{
    
display: flex;  
justify-content: space-between; 
align-items: center; 
position: absolute;
width: 550px;
height: 40px;

left: 726px;
top: 155px;
background: #FFFFFF;
border: 2px solid rgba(202, 138, 144, 0.87);
box-sizing: border-box;
border-radius: 36px;
color: rgb(117, 117, 115);
opacity: 30%;
margin-left: 150px;
}

#lupa{
   display: flex;
   flex-direction: row;
    border: 2px solid rgba(202, 138, 144, 0.87);
    border-right-color: #FFFFFF;
    border-bottom-color: #FFFFFF;
    border-top-color: #FFFFFF;
    opacity: 40%;
    width: 35px;
}

.p1{
    margin-top: 10px;
    margin-left: 100px;
}

.menu{

   margin: -9px;
   margin-top: 40px;
   max-width: 110%;


}

.menu ul{
    
    height: 89px;
    background-color: #CA8A90;
    opacity: 63%;
    list-style: none;
    max-width: 100%;
}

.menu ul li{
    display: inline;
    margin-left: 18px;
    max-width: 100%;
}

.menu ul li a{
    margin-top: 23px;
    margin-left: 100px ;
    display: inline-block;
    padding: 5px;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 25px;
    max-width: 100%;

}

.menu ul li a:hover{
    color: rgb(86, 175, 247);
}

.carousel-inner{
    margin-top: -16px;
    opacity: 85%;
}


.section{
   
   display: flex;
   justify-content: center;
   width: 100%;
    height: 100%;
    max-width: 100%;
    

}

.conteudo_flags{
   
    width: 1252px;
    height: 100%;
    background: rgba(235, 183, 235, 0.15);
    
}

.imgpg{
    display: flex;
    justify-content: center;
    max-width: 100%;  
       
    flex-wrap: wrap;
}

.imgp{
    margin-top: 1%;
    width: 420px;
    height: 440px;
}


.article{

    display: flex;
    justify-content: center;
    width: 100%;
     height: 100%;
     max-width: 100%;
     

}

.cards{


width: 1085px;
height: 100%;
margin-top: 90px;
left: 177px;
top: 2190px;
background: rgba(255, 255, 255, 0.15);
border: 1px solid #000000;
box-sizing: border-box;
border-radius: 10px;


}
#textespe{

    margin-top: 20px;
    font-size: 39px;
}

.text-center{
    margin-top: -30px;
    display: flex;
    justify-content: center;
    max-width: 100%;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.73);
    line-height: 92px;

}

.cardflex1{
    margin-top: 130px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    max-width: 100%;    
    flex-wrap: wrap;
       

}

.card-img-top{

    width: 300px;
    height: 300px;
    border:solid 1px;
    border-radius:20px;
    
}

.card{
    border: none;
   
}

.btnp{
    margin-top: 60px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    
    
}
#btn1{
    width: 190px;
    height: 40px;
    border:solid 1px;
    border-radius:20px;
    font-weight: bold;
    background: #1F2640;
    


}

.rodape1{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    max-width: 100%;
    margin-top: 50px;
    
}

.email{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 180px;
    max-width: 100%;
    background: rgba(202, 138, 144, 0.63);
    color: #FFFFFF;
    font-size: 38px;
    
    
}

.pemail{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    max-width: 100%;

}

.imgenvelope{
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-right: 50px;

}
.input-group{
    max-width: 80%;
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    margin-left: 25px;
    border-radius: 5px;

    
}

.input-group-append{

    background-color: #D1E4FF;
    border-radius: 7px;
    

}

.form-control{
    display: flex;
    flex-wrap: wrap;
}



.rodape2{
    display: flex;
    justify-content: center;
    
    width: 100%;
    height: 100%;
    height: 400px;
    max-width: 100%;
        
}

.redes{

    display: flex;
    justify-content: space-between;
    justify-content: space-around;
    align-items: center;     
    flex-wrap: wrap;
    width: 100%;
    height: 100%;    
    max-width: 100%;
    max-height: 100%;
    background: #1F2640;
    color: #FFFFFF;
    font-size: 38px;
    
    
}


.redessocial{
    
    display: inline;
    width: 82px;
    height: 68px;
    border-radius: 10px;

   

}

.paypal{
    margin-top: -30px;
    margin-bottom: -20px;
    padding: 0px;
    display: block;
    width: 231px;
    height: 120px;
    
}

.formas{
    margin-top: -23px;
}

.rd{

    margin-top: -100px;
}

.marca{
    display: flex;
    width: 50px;
    height: 150px;
    margin-right: 90px;
    max-width: 100%;
}

.rodepe3{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    max-width: 100%;
    margin-top: 50px;
    
}

.copy{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    max-width: 100%;
    background: linear-gradient(180deg, rgba(205, 238, 238, 0.73) 20.83%, rgba(96, 198, 255, 0) 85.94%);
    color:#000000;
    font-size: 20px;
    
    
}

.pfcode{
    width: 174px;
    height: 133px;


}
